{
	"modules": [
		{
			"PyIn": {
				"use": true
			}
		},
		{
			"catch": {
				"use": true,
				"Ex": "\\Exception"
			}
		},
		{
			"class_no_func": {
				"use": true
			}
		},
		{
			"classes": {
				"use": true
			}
		},
		{
			"comcom": {
				"use": true
			}
		},
		{
			"echo_new_line": {
				"use": true
			}
		},
		{
			"fn": {
				"use": true
			}
		},
		{
			"forvar": {
				"use": true
			}
		},
		{
			"global": {
				"use": true
			}
		},
		{
			"js_else": {
				"use": true,
				"mini": false
			}
		},
		{
			"js_list": {
				"use": true
			}
		},
		{
			"this": {
				"use": true
			}
		},
		{
			"import": {
				"use": true,
				"fullpath": false,
				"clean": false
			}
		}
	],
	"aliases": {
		"__con": "__construct"
	}
}